
<div class="card bg-light mb-3" style="max-width: 40rem;">
  <div class="card-header">
    <h4 class="card-title">{{title}}</h4>
    <button (click)="savePhrase()" type="button" class="btn btn-success">Add Word</button>
    <button (click)="clear()" type="button" class="btn btn-danger">Reset</button>
  </div>
  <div class="card-body" style="height: 150px">
    <p class="card-text">Press the "Add Phrase" button to add phrases to your passphrase and "Reset" the clear.</p>
    <div class="form-group has-success">
      <input type="text" value="{{combinedPassphrase}}" class="form-control is-valid" id="inputValid">
    </div>
  </div>
</div>

