<div class="container">
  <div class="jumbotron">
    <h1 style="display: inline-block">{{title}}</h1>
    <img src="../favicon.png" alt="picture of red die" style="width:40px; height:40px">
    <h2>Passphrase Generator</h2>
    <p>First roll, get phrase, and add phrase...</p>
  </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="row">
          <div class="col">
            <app-dice></app-dice>
          </div>
          <div class="col">
            <app-passphrase></app-passphrase>
          </div>
        </div>
    </div>
  </div>
</div>







